  @import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #f8dd30;
  overflow-x: hidden;
}
section.secLogin {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #fff;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.user {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
}
.user .imgBx {
  position: relative;
  width: 50vw;
  height: 100vh;
  background: #ff0;
  transition: 0.5s;
}
.user .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.user .formBx {
  position: relative;
  width: 50vw;
  height: 100vh;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  transition: 0.5s;
}
.user .formBx form {
    background: rgb(248 221 48);
    padding: 5rem;
    border-radius: 1rem;
}
.user .formBx form h2 {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  width: 100%;
  margin-bottom: 1rem;
  color: #000000;
}
.user .formBx form input, 
.secTodo form#form input {
  position: relative;
  width: 100%;
  height: 50px;
  padding: 10px 0;
  background: transparent;
  color: #000000;
  border: none;
  border-bottom: 1px solid #000000;
  outline: none;
  box-shadow: none;
  margin: 30px 0;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  font-weight: 300;
}
.user .formBx form input::placeholder,
.secTodo form#form input::placeholder,
.secTodo .todo_description::placeholder {
    color: #000;
}
.secTodo .todo_description {
  margin-top: 10px;
  width: 100%;
  height: 150px;
  resize: none;
  color: #000;
  padding-top: 20px;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  font-weight: 300;
  border: none;
  border-bottom: 1px solid #000000;
  outline: none;
  box-shadow: none;
  margin-bottom: 20px;
}
.user .formBx form button, button {
  background: #677eff;
  color: #fff;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  transition: 0.5s;
  padding: 15px 30px;
  border: 1px solid #677eff;
  outline: none;
  box-shadow: none;
  margin-top: 10px;
  width: 100%;
}
.user .formBx form .signup {
  position: relative;
  margin-top: 2rem;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  color: #000000;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 10px;
}
.user .formBx form .signup a {
  font-weight: 600;
  text-decoration: none;
  color: #677eff;
}
.signupBx {
  pointer-events: none;
}
.container.active .signupBx {
  pointer-events: initial;
}
.signupBx .formBx {
  left: 100%;
}
.container.active .signupBx .formBx {
  left: 0;
}
.signupBx .imgBx {
  left: -100%;
}
.container.active .signupBx .imgBx {
  left: 0%;
}
.signinBx .formBx {
  left: 0%;
}
.container.active .signinBx .formBx {
  left: 100%;
}
.signinBx .imgBx {
  left: 0%;
}
.container.active .signinBx .imgBx {
  left: -100%;
}
.secTodo .container {
    background: transparent;
    height: unset;
}
.secTodo form#form {
  background: rgb(255 255 255);
  padding: 5rem;
  border-radius: 1rem;
  width: 40vw;
  margin: 2rem auto;
  margin-bottom: 0;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 5rem;
  background: #ffffff4d;
  backdrop-filter: blur(10px);
}
.head img {
  width: 10%;
}
.head button.logout_btn {
  width: auto;
  margin: 0;
}
.head h1 {
  font-size: 3rem;
  line-height: 4rem;
  margin-bottom: 2rem;
}
.todoMain {
    background: #fff;
    width: 60vw;
    margin: 2rem auto;
    border-radius: 20px;
    padding: 4rem 5rem;
    position: relative;
}
.todoMain .todoBox {
    width: 100%;
    margin: 10px auto;
    background: #f8dd30;
    padding: 3rem 4rem;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.todoMain .todoBox button {
    width: auto;
    height: unset;
    padding: 12px 30px;
    margin: 0;
}
.todoMain .todoBox h1 {
    font-size: 2.5rem;
    line-height: 3.5rem;
    font-weight: 500;
    text-transform: capitalize;
}
.todoMain .todoBox p {
    font-size: 1.8rem;
    line-height: 2.8rem;
    margin-top: 10px;
}
.todoMain .todosRender {
    overflow-y: scroll;
    padding-right: 20px;
    height: 46vh;
}
.todoMain .todosRender::-webkit-scrollbar {
  width: 5px;
}
.todoMain .todosRender::-webkit-scrollbar-thumb {
  background: #f8dd30; 
  border-radius: 10px;
}
.todoMain .todosRender::-webkit-scrollbar-thumb:hover {
  background: #f8dd30; 
}
.preloader svg {
    width: 10%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
button.sub_btn.disable {
  opacity: 0.6;
  pointer-events: none;
}

@media screen and (max-width: 1200px) {
  .user .formBx form {
    padding: 3rem;
  }
  .user .formBx {
    width: 45vw;
  }
  .user .imgBx {
    width: 55vw;
  }
  .user .formBx form input, .secTodo form#form input {
    margin: 15px 0;
  }
  .user .formBx form button, button {
    padding: 12px 30px;
  }
  .todoMain {
    width: 90vw;
    padding: 2rem 3rem;
  }
  .secTodo form#form {
    padding: 3rem;
    width: 50vw;
  }
  .todoMain .todosRender {
    height: 53vh;
    padding-right: 10px;
  }
  .todoMain .todoBox {
    padding: 2rem 3rem;
  }
  .todoMain .todoBox h1 {
    font-size: 2rem;
    line-height: 3rem;
  }
  .todoMain .todoBox p {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
}

@media screen and (max-width: 960px) {
  .user .imgBx {
    width: 50vw;
  }
  .user .formBx {
    width: 50vw;
    padding: 25px;
  }
}

@media screen and (max-width: 767px) {
  .user .imgBx {
    display: none;
  }
  .user .formBx {
    width: 100vw;
    margin: 0 auto;
  }
  .secTodo form#form {
    width: 95vw;
  }
  .todoMain {
    width: 95vw;
    padding: 2rem;
    padding-right: 1rem;
  }
  .todoMain .todoBox {
    display: block;
  }
  .todoMain .todoBox button {
    width: 100%;
    margin: 2px 0;
  }
  .todoMain .todoBox h1 {
    text-align: center;
  }
  .todoMain .todoBox p {
    text-align: center;
  }
  .todoMain .todoBox .todoCtn {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  .head img {
    width: 35%;
  }
  .head {
    padding: 1.5rem 2rem;
  }
}